<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios-background-mode" version="1.0.0">
    <name>Set UIBackgroundModes</name>
    <description>Sets UIBackgroundModes</description>
    <author>Szabolcs Balogh</author>
    <license>MIT</license>
    <keywords>cordova,ios9,UIBackgroundModes</keywords>

    <!-- ios -->
    <platform name="ios">
        <!-- PLIST Entries -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
              <string>$BACKGROUND_MODE</string>
            </array>
        </config-file>

    </platform>
</plugin>